body {
    margin: 30px auto;
    width: 80%;
}

div{
    margin-left:15%;
    padding:1px 16px;
    /*width: 70%;*/
}



ul li {
    padding: 5px 0px;
    font-size: 1.5em;
}


a {
    text-decoration: none;
    color: #464646;
}
a:hover {
    text-decoration: underline;
}


nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    /*overflow: auto;*/
    /*float: left;*/
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #4CAF50;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



}
h1 {
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000;
}
p.subtitle{
    font-family: Tahoma;
    font-size: 3em;
}

p.plot_title{
    font-family: Tahoma;
    font-size: 2em;
}

/*footer {
    margin-left:27%;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: fixed;
    display: block;
}

footer ul{
    align-self: center;
    position: fixed;
}
footer ul li {
    display: inline;
    font-size: 1.2em;
    /* background-color: rgb(255,255,255) */
    
}*/
/* tell the container's children to float left: */
.float_right > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   font-size: 1.2em;
   width: 100%;
   color: white;
   text-align: center;
}
