<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/sudoku">Soduku Problem</a></li>
	        	<li><a href="/Model">Model</a></li>
        		<li><a href="/Design">Program Design</a></li>
        		<li><a href="/Utilization">How to Use</a></li>
			<li><a href="/Performance">Model Performance</a></li>
			<li><a href="/Insights">Thoughts and Improvements</a></li>
    		</ul>
		</nav>
		<div class="container">
			
    		{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		
        		<li><a href="https://github.com/shiyunqiu/CS205_Sudoku">github.com/shiyunqiu/CS205_Sudoku</a></li>
			</ul>
		</footer>
	</body>
</html>
