<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/CS205_G1.github.io/css/main.css">
	</head>
	<body background="/CS205_G1.github.io/img/bg1.jpeg">
		<nav>
    		<ul>
			<li><a href="/CS205_G1.github.io">Home</a></li>
        		<li><a href="/CS205_G1.github.io/sudoku">Soduku Problem</a></li>
	        	<li><a href="/CS205_G1.github.io/model">Model Design</a></li>
        		<li><a href="/CS205_G1.github.io/util">How to Use</a></li>
			<li><a href="/CS205_G1.github.io/performance">Model Performance</a></li>
			<li><a href="/CS205_G1.github.io/discussion">Discussion</a></li>
    		</ul>
		</nav>
		<div class="container">
			
    		{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		
        		<li><a href="https://github.com/shiyunqiu/CS205_Sudoku">github.com/shiyunqiu/CS205_Sudoku</a></li>
			</ul>
		</footer>
	</body>
</html>
